header {
    margin-top: 20px;
    margin-bottom: 20px;
}
header h1 {
    margin-bottom: 20px;
}
textarea {
    height: 100px;
    resize: none;
}
.add-button-row {
    margin-top: 20px;
    margin-bottom: 20px;
}
.list-items {
    margin-top: 20px;
    margin-bottom: 20px;
}
